{% block content %}
<div class="container-fluid">
    <h1>Are you sure you want to delete the category?</h1>
    <div class="card mb-3 modern">
        <div class="row g-0">
            <div class="col-12 col-sm-12 col-lg-6">
                <div class="card-body">
                    <h1 class="card-title">{{ category.name }}</h1>
                    <span class="button_padding"><a href="{% url 'confirm_delete_category' category.pk %}"
                                class="btn btn-danger">Delete</a></span>
                    <span class="button_padding"><a href="{% url 'categories' %}"
                            class="btn btn-info">Cancel</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}